 * {
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

 }

 body {
     background-color: white;
     flex-wrap: wrap;
 }

 


  .popup {
      background-color: rgb(228, 228, 250);
      width: 420px;
      height: 600px;
      padding: 30px 40px;
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
      border-radius: 25px;
      border: black 1px solid;
      text-align: center;
      z-index: 1003;
      position: fixed ;
  }

  #newsletter {
      display: flex;
      justify-content: center;

  }

  #newsletter img {
      width: 420px;
  }

  #content {
      display: flex;
      flex-direction: row;
      gap: 35px;
  }

  #subscriber {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 25px;
  }

  #updates {
      font-size: 15px;
  }

  input[type="email"] {
      border: none;
      background-color: rgb(228, 228, 250);
      width: 150px;
      height: 50px;

  }

  input[type="submit"]:hover {
      background-color: rgb(228, 228, 250);
  }

  input[type="email"]:focus {
      background-color: rgb(228, 228, 250);
      border: none;
  }

  #foot {
      display: flex;
      justify-content: center;
  }

   #subscribe{
      display: block;
      width: 150px;
      position: relative;
      margin: 10px auto;
      text-align: center;
      background-color: hsl(212, 49%, 40%);
      border-radius: 20px;
      color: #ffffff;
      text-decoration: none;
      padding: 8px 0;
  }


  .popup button {
      display: block;
      margin: 0 0 20px auto;
      background-color: transparent;
      font-size: 30px;
      color: #ffffff;
      background: hsl(212, 49%, 40%);
      border-radius: 100%;
      width: 40px;
      height: 40px;
      border: none;
      outline: none;
      cursor: pointer;
      
  }

  .overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.9);
      z-index: 1002;
      pointer-events: none;
  }

 .navbar {
     background-color: white;
     position: fixed;
     top: 0;
     width: 100%;
     display: flex;
     
     z-index: 999;

 }

 .navbar a {
     background-color: white;
     font-size: 22px;
     text-decoration: none;
     padding: 30px 45px;
     transition: background-color 0.3s ease;
     width: fit-content;


 }

 .navbar a:hover {
     background-color: rgb(241, 157, 29);
 }

 #logo {
     width: 70px;
     height: 70px;
     position: absolute;
     left: 20px;
     top: 15px;
     border-radius: 50%;
 }

 #first {
     display: flex;
     flex-direction: row;
     padding-left: 150px;
    padding-right: 160px;
     gap: 25px;
 }

 #first-first img{
    width: 300px;
    height: 250px;
    border-radius: 25px;
    
 }
 #first-second{
    padding-top: 25px;
 }

  #second{
      display: flex;
      flex-direction: row;
      padding-left: 150px;
      padding-right: 140px;
      gap:40px;
      
  }

  .second-first{
    display: flex;
    flex-direction: row;
    width: 33%;
    
    
  }

  .second-first img {
      width:300px;
      height: 150px;
      border-radius: 25px;

  }


  #third{
  
            display: flex;
            flex-direction: row;
            padding-left: 150px;
            padding-right: 140px;
            gap: 40px;
            padding-top:30px ;
    
        }

.image{
    transform: scale(1);
        transition: transform 0.3s ease;
}

.image:hover{
    transform: scale(1.1);
}



.slide-in-bottom {
    transform: translateY(100%);
    animation: slideInBottom 3s ease-in-out forwards;
}

@keyframes slideInBottom {
    to {
        transform: translateY(0);
    }
}




  